# Set this variable in GitHub Codespaces or copy this file to .env.local for local testing
# Use the value of CODESPACE_NAME from your Codespace terminal (e.g. echo $CODESPACE_NAME)
VITE_CODESPACE_NAME=
